.score-container {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.score-label {
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.score-value {
  font-size: 130px;
  font-weight: 100;
  color: black;
}
